{
  "openapi": "3.1.0",
  "info": {
    "title": "Atom API Reference",
    "description": "Comprehensive APIs for domain discovery, marketplace integration, portfolio management, registration, and AI-powered domain intelligence.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.atom.com/api/marketplace",
      "description": "Production server"
    },
    {
      "url": "https://dev.atom.com/api/marketplace",
      "description": "Development server"
    }
  ],
  "paths": {
    "/domains": {
      "get": {
        "description": "Retrieve your domain portfolio listings. Filter by listing type (Premium, Standard, or Geo) and paginate through results.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your Seller API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by listing type (standard, premium, or geo)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["standard", "premium", "geo"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of domains to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domain/search": {
      "get": {
        "description": "Search your domain portfolio by keyword, category, or name type. Use this to find specific domains within your listings.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Search by category",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search by Keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name_type",
            "in": "query",
            "description": "Search by Type of Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "description": "Retrieve the list of available categories for organizing your domain listings.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domain-details": {
      "get": {
        "description": "Retrieve detailed information for a specific domain in your portfolio, including pricing, category, and listing status.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/add-domain": {
      "get": {
        "description": "Add a new domain to Atom. For premium listing, a coin will be deducted from your account and the domain will be submitted for review. For a Standard or Geo listing, the domain landing page will immediately go live",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_type",
            "in": "query",
            "description": "Domain Type (standard, premium or geo)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["standard", "premium", "geo"]
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "Domain Price",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/remove-domain": {
      "get": {
        "description": "Remove a Standard listing from your account. This method only supports Standard listings. For removing Premium Listings, please contact Atom team to give a 7 day removal notice",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/update-selling-price": {
      "get": {
        "description": "Update the selling price of a domain. There are no restrictions for Standard Listings. For Premium Listings, the selling price must be within the allowed range as per your Membership Tier (e.g. Silver, Gold, Platinum)",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "selling_price",
            "in": "query",
            "description": "Selling Price",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/primary-categories": {
      "get": {
        "description": "Retrieve the list of primary industry categories available for domain classification.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assign-primary-category": {
      "get": {
        "description": "Assign an industry category to a domain listing. This helps buyers find your domain when browsing by industry.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_name",
            "in": "query",
            "description": "Category Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/update-description": {
      "post": {
        "description": "Add or update a marketing description for your domain listing. A compelling description helps attract buyers.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_description",
            "in": "query",
            "description": "Domain description text",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/all-sales": {
      "get": {
        "description": "Retrieve your complete sales history on Atom, including domain names, sale prices, and transaction dates.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_type",
            "in": "query",
            "description": "Domain Type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["standard", "premium"]
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of domains to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/syndication-authorized-domains": {
      "get": {
        "description": "Retrieve domains from your portfolio that are authorized for syndication and listing on external marketplaces and partner platforms.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "Page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of domains to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/boost-domain": {
      "get": {
        "description": "Boost your Premium domains (Standard Boost or Super Boost). Coins will be deducted from your account balance",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "boosting_type",
            "in": "query",
            "description": "Boosting Type (Standard or Super)",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": ["Standard", "Super"]
            }
          },
          {
            "name": "source_of_deduction",
            "in": "query",
            "description": "Source of Deduction ('points’, 'coins’, ‘loyalty_benefit’)",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": ["Standard", "Super"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domain-analytics": {
      "get": {
        "description": "Retrieve performance analytics for your domain listings, including page views, shortlists, and engagement metrics.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/add-discount": {
      "get": {
        "description": "Apply a discount to a domain listing to attract more buyers. Set a percentage discount that will be displayed on the domain's sale page.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "discount",
            "in": "query",
            "description": "Discount",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/verify-dns": {
      "get": {
        "description": "Verify that DNS records are correctly configured for a domain in your portfolio.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/upload-grade-domains": {
      "post": {
        "description": "Submit a batch of domains for AI-powered quality grading. Get brand-fit scores and quality assessments to help decide which domains to list.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domains_data",
            "in": "query",
            "description": "List of Domains, comma seperated",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-grade-domain-result": {
      "get": {
        "description": "Retrieve the results of a previously submitted domain grading batch, including quality scores and brand-fit assessments.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "brand_fit_only",
            "in": "query",
            "description": "Brand Fit Only",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/smart-domain-search": {
      "get": {
        "description": "Find domain names by describing your business or brand concept. For example, search for 'beauty brand' or 'fintech startup' to discover relevant available domains.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Describe your business (Ex: Beauty Brand)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trademark-search": {
      "get": {
        "description": "Search the USPTO trademark database to check for potential conflicts before registering or purchasing a domain name. Filter by filing status, international class, and more.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your Trademark API key",
            "required": true,
            "schema": {
              "type": "string",
              "default": "{{trademark_api_key}}"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Keyword to search for in trademark names",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Google"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "description": "Type of search to perform",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filing_status",
            "in": "query",
            "description": "Filter by trademark filing status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "class",
            "in": "query",
            "description": "International class filter (e.g., ‘009’ for computer software)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page (max 100)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/partnership-search": {
      "get": {
        "description": "Browse and search available domains in the Atom marketplace. Filter by keyword, paginate through results, and discover premium domain names ready for purchase.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search keyword or phrase to filter domains",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domain-data": {
      "get": {
        "description": "Retrieve detailed information about a specific domain, including pricing, category, availability status, and listing details.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain name (e.g., example.com) or domain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/hold-domain": {
      "post": {
        "description": "Reserve a domain when a customer adds it to their cart or while you verify payment. The hold prevents the domain from being purchased by another buyer while you process the transaction.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_id",
            "in": "query",
            "description": "The domain's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/confirm-order": {
      "post": {
        "description": "Confirm the purchase once payment has been collected and funds are verified. This finalizes the transaction and secures the transfer authorization code for your buyer.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_id",
            "in": "query",
            "description": "The domain's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "payment_amount",
            "in": "query",
            "description": "Custom payment amount if different from the listed selling price",
            "required": false,
            "schema": {
              "type": "integer",
              "default": ""
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unhold-domain": {
      "post": {
        "description": "Release a previously reserved domain back to the marketplace. Use this if the customer decides not to proceed with the purchase.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_id",
            "in": "query",
            "description": "The domain's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get-transfer-auth-code": {
      "post": {
        "description": "Retrieve the authorization code needed to transfer a purchased domain to the buyer's registrar of choice.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_id",
            "in": "query",
            "description": "The domain's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domain-appraisal": {
      "get": {
        "description": "Get an AI-powered appraisal for any domain name. Returns an estimated market value, domain quality score, key signals (length, brandability, extension), and root word analysis.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your Appraisal API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name to appraise",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/semantic-search": {
      "get": {
        "description": "Discover domains using natural language queries. Describe what you're looking for — such as 'names for a healthcare startup' or 'short brandable tech names' — and get back the most relevant matches from Atom's marketplace using advanced AI-powered semantic search.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Natural language search query (e.g., 'tech startup names’, ‘healthcare companies’) Example: tech startup names",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Optional filters to apply to the search (JSON string)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 1). Default value: 1. Example: 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page (default: 20, max: 100). Default value: 20. Example: 20",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/new-listings": {
      "get": {
        "description": "Retrieve domains that were newly listed on the Atom marketplace on a specific date. Use this to stay up to date with fresh inventory and highlight new arrivals.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date in YYYY-MM-DD format to get listings for Example: 2025-07-21",
            "required": true,
            "schema": {
              "type": "date"
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "description": "Filter by listing type. ‘Curated’ returns only Atom-curated premium domains. ‘All’ returns all newly listed domains. Default: All",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Domain"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Domain": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "Example Value",
            "type": "string"
          },
          "tag": {
            "description": "Model",
            "type": "string"
          }
        }
      },
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant1",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}