{
  "openapi": "3.1.0",
  "info": {
    "title": "Atom API Reference",
    "description": "Comprehensive APIs for domain discovery, marketplace integration, portfolio management, registration, and AI-powered domain intelligence.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://www.atom.com/api/marketplace",
      "description": "Production server"
    },
    {
      "url": "https://dev.atom.com/api/marketplace",
      "description": "Development server"
    }
  ],
  "paths": {
    "/domains": {
      "get": {
        "description": "Retrieve your domain portfolio listings. Filter by listing type (Premium, Standard, or Geo) and paginate through results.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your Seller API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Filter by listing type (standard, premium, or geo)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "premium",
                "geo"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of domains to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketplaceDomain"
                  }
                },
                "example": [
                  {
                    "id": 2725,
                    "domain_name": "Grandopia.com",
                    "status": "Seller Approved",
                    "full_price": 9999,
                    "selling_price": 9999,
                    "primary_category": "Aerospace",
                    "discount": 0,
                    "description": "Grandopia.com is a visionary domain perfect for brands aiming to inspire greatness. Evoking a sense of grandeur and utopia, it\u2019s an ideal fit for startups in hospitality, real estate, or luxury lifestyle. Picture a platform that curates extraordinary experiences or a community that redefines opulent living. Grandopia embodies aspiration, inviting users to explore a world of possibilities. Its brandable quality makes it memorable and versatile, ensuring it stands out in a crowded marketplace. With Grandopia.com, the future of extraordinary ventures awaits\u2014ready to turn dreams into reality.",
                    "logo_image": "https://public.atom.com/story_images/visual_images/?class=listing",
                    "listing_type": "Plus"
                  },
                  {
                    "id": 3488,
                    "domain_name": "Pivotis.com",
                    "status": "Transfer Complete",
                    "full_price": 699,
                    "selling_price": 3499,
                    "primary_category": "Agency & Consulting",
                    "discount": 0,
                    "description": "Versatile made up name based on the word \"Pivot\"; someone or something having a major or central role, function, or effect.",
                    "logo_image": "https://public.atom.com/story_images/visual_images/?class=listing",
                    "listing_type": "Premium"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/categories": {
      "get": {
        "description": "Retrieve the list of available categories for organizing your domain listings.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CategoryItem"
                  }
                },
                "example": [
                  {
                    "id": 9,
                    "name": "Fitness & Gym"
                  },
                  {
                    "id": 56,
                    "name": "Music & Audio"
                  },
                  {
                    "id": 110,
                    "name": "Tutoring & Test Prep"
                  },
                  {
                    "id": 115,
                    "name": "Catering"
                  },
                  {
                    "id": 130,
                    "name": "Weddings & Bridal"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/domain-details": {
      "get": {
        "description": "Retrieve detailed information for a specific domain in your portfolio, including pricing, category, and listing status.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceDomain"
                },
                "example": {
                  "id": 2725,
                  "domain_name": "Grandopia.com",
                  "status": "Seller Approved",
                  "full_price": 9999,
                  "selling_price": 9999,
                  "primary_category": "Aerospace",
                  "discount": 0,
                  "description": "Grandopia.com is a visionary domain perfect for brands aiming to inspire greatness. Evoking a sense of grandeur and utopia, it\u2019s an ideal fit for startups in hospitality, real estate, or luxury lifestyle. Picture a platform that curates extraordinary experiences or a community that redefines opulent living. Grandopia embodies aspiration, inviting users to explore a world of possibilities. Its brandable quality makes it memorable and versatile, ensuring it stands out in a crowded marketplace. With Grandopia.com, the future of extraordinary ventures awaits\u2014ready to turn dreams into reality.",
                  "logo_image": "https://public.atom.com/story_images/visual_images/?class=listing",
                  "listing_type": "Plus"
                }
              }
            }
          }
        }
      }
    },
    "/add-domain": {
      "get": {
        "description": "Add a new domain to Atom. For premium listing, a coin will be deducted from your account and the domain will be submitted for review. For a Standard or Geo listing, the domain landing page will immediately go live",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_type",
            "in": "query",
            "description": "Domain Type (standard, premium or geo)",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "premium",
                "geo"
              ]
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "price",
            "in": "query",
            "description": "Domain Price",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "message": "Successfully uploaded"
                }
              }
            }
          }
        }
      }
    },
    "/remove-domain": {
      "get": {
        "description": "Remove a Standard listing from your account. This method only supports Standard listings. For removing Premium Listings, please contact Atom team to give a 7 day removal notice",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "true"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "message": "Successfully removed the domain"
                }
              }
            }
          }
        }
      }
    },
    "/update-selling-price": {
      "get": {
        "description": "Update the selling price of a domain. There are no restrictions for Standard Listings. For Premium Listings, the selling price must be within the allowed range as per your Membership Tier (e.g. Silver, Gold, Platinum)",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "selling_price",
            "in": "query",
            "description": "Selling Price",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "message": "Successfully updated selling price"
                }
              }
            }
          }
        }
      }
    },
    "/primary-categories": {
      "get": {
        "description": "Retrieve the list of primary industry categories available for domain classification.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrimaryCategoriesResponse"
                },
                "example": {
                  "message": "Primary categories list",
                  "categories": [
                    "Fitness & Gym",
                    "Music & Audio",
                    "Tutoring & Test Prep",
                    "Catering",
                    "Weddings & Bridal",
                    "Insurance",
                    "Venture Capital & Investment",
                    "Beer, Wine & Spirits",
                    "Coffee & Tea",
                    "Food Truck"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/assign-primary-category": {
      "get": {
        "description": "Assign an industry category to a domain listing. This helps buyers find your domain when browsing by industry.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "category_name",
            "in": "query",
            "description": "Category Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "message": "Assigned primary category"
                }
              }
            }
          }
        }
      }
    },
    "/update-description": {
      "post": {
        "description": "Add or update a marketing description for your domain listing. A compelling description helps attract buyers.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domain_description",
            "in": "query",
            "description": "Domain description text",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "message": "Successfully updated Domain description"
                }
              }
            }
          }
        }
      }
    },
    "/all-sales": {
      "get": {
        "description": "Retrieve your complete sales history on Atom, including domain names, sale prices, and transaction dates.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_type",
            "in": "query",
            "description": "Domain Type",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "standard",
                "premium"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of domains to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SaleRecord"
                  }
                },
                "example": [
                  {
                    "Domain Name": "Gymsia.com",
                    "sales_type": "WLM",
                    "sale_date": "Oct 04, 2018 12:05:40",
                    "sale_amount": 1849,
                    "sale_amount_net": 0,
                    "sale_terms": "6 installments",
                    "transfer_status": null,
                    "added_on": "Mar 07, 2025 05:12:02"
                  },
                  {
                    "Domain Name": "Wazzango.com",
                    "sales_type": "Premium",
                    "sale_date": "May 05, 2023 09:58:52",
                    "sale_amount": 1999,
                    "sale_amount_net": 0,
                    "sale_terms": "Outright",
                    "transfer_status": null,
                    "added_on": "Mar 14, 2024 10:25:36"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/syndication-authorized-domains": {
      "get": {
        "description": "Retrieve domains from your portfolio that are authorized for syndication and listing on external marketplaces and partner platforms.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of domains to return",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MarketplaceDomain"
                  }
                },
                "example": [
                  {
                    "id": 16109255,
                    "domain_name": "Cirro.com",
                    "status": "Approved",
                    "full_price": 0,
                    "selling_price": 126299,
                    "primary_category": "Tech, Internet, Software",
                    "discount": 0,
                    "description": "Cirro.com is a dynamic, five-letter, two-syllable domain that evokes imagery of clouds and elevation\u2014perfect for brands aiming to inspire. With its airy connotation, Cirro embodies innovation and limitless potential, making it ideal for tech startups, cloud services, or wellness brands focused on holistic growth. The name's brevity enhances memorability, ensuring easy recall and branding versatility. Cirro captures a sense of uplift and clarity, inviting users to dream big and soar high. This domain isn\u2019t just a web address; it\u2019s a launchpad for visionary ideas and transformative experiences. Grab Cirro.com and elevate your brand today!",
                    "logo_image": "https://public.atom.com/story_images/visual_images/logo-image-29930-cirro.jpg?class=listing",
                    "listing_type": "Premium"
                  },
                  {
                    "id": 18111544,
                    "domain_name": "SteelVerdict.com",
                    "status": "Approved",
                    "full_price": 5999,
                    "selling_price": 6599.000000000001,
                    "primary_category": "E-Commerce & Retail",
                    "discount": 0,
                    "description": "SteelVerdict.com embodies strength and resilience, merging the unyielding nature of steel with the finality of a verdict. This powerful domain name evokes trust and decisiveness, making it perfect for startups in legal tech, construction, or manufacturing. Imagine a platform that streamlines legal processes with cutting-edge technology or an innovative construction firm setting new industry standards. SteelVerdict.com inspires confidence, suggesting that users can rely on its services to forge solid foundations\u2014both literally and metaphorically. With its memorable sound and impactful imagery, this domain is set to become a cornerstone for any ambitious brand ready to make a bold statement...",
                    "logo_image": "https://public.atom.com/story_images/visual_images/logo-image-73892-steelverdict.jpg?class=listing",
                    "listing_type": "Premium"
                  }
                ]
              }
            }
          }
        }
      }
    },
    "/boost-domain": {
      "get": {
        "description": "Boost your Premium domains (Standard Boost or Super Boost). Coins will be deducted from your account balance",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "boosting_type",
            "in": "query",
            "description": "Boosting Type (Standard or Super)",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                "Standard",
                "Super"
              ]
            }
          },
          {
            "name": "source_of_deduction",
            "in": "query",
            "description": "Source of Deduction ('points\u2019, 'coins\u2019, \u2018loyalty_benefit\u2019)",
            "required": true,
            "schema": {
              "type": "integer",
              "enum": [
                "Standard",
                "Super"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "message": "Boost added successfully"
                }
              }
            }
          }
        }
      }
    },
    "/domain-analytics": {
      "get": {
        "description": "Retrieve performance analytics for your domain listings, including page views, shortlists, and engagement metrics.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAnalyticsResponse"
                },
                "example": {
                  "total_views": 4850,
                  "total_shortlists": 390,
                  "total_offers": 1
                }
              }
            }
          }
        }
      }
    },
    "/add-discount": {
      "get": {
        "description": "Apply a discount to a domain listing to attract more buyers. Set a percentage discount that will be displayed on the domain's sale page.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "discount",
            "in": "query",
            "description": "Discount",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "message": "Successfully updated Discount price"
                }
              }
            }
          }
        }
      }
    },
    "/verify-dns": {
      "get": {
        "description": "Verify that DNS records are correctly configured for a domain in your portfolio.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsVerifyResponse"
                },
                "example": {
                  "success": true,
                  "message": "DNS check request accepted"
                }
              }
            }
          }
        }
      }
    },
    "/upload-grade-domains": {
      "post": {
        "description": "Submit a batch of domains for AI-powered quality grading. Get brand-fit scores and quality assessments to help decide which domains to list.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domains_data",
            "in": "query",
            "description": "List of Domains, comma seperated",
            "required": true,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageResponse"
                },
                "example": {
                  "message": "Domains Uploaded Successfully"
                }
              }
            }
          }
        }
      }
    },
    "/get-grade-domain-result": {
      "get": {
        "description": "Retrieve the results of a previously submitted domain grading batch, including quality scores and brand-fit assessments.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Size",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          },
          {
            "name": "brand_fit_only",
            "in": "query",
            "description": "Brand Fit Only",
            "required": false,
            "schema": {
              "type": "string",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GradeDomainResultResponse"
                },
                "example": {
                  "count": 8261,
                  "data": [
                    {
                      "id": 7660192,
                      "domain_name": "morefunz.ai",
                      "total_gpt_reviews": 0,
                      "total_gpt_favourites": 0,
                      "total_gpt_reverse_reviews": 0,
                      "total_gpt_negative_votes": 0,
                      "created_at": "2026-03-31 05:03:19",
                      "updated_at": "2026-03-31 05:22:26",
                      "is_brand_fit": 1,
                      "close_out_domain_id": null,
                      "market_place_domain_id": null,
                      "total_gpt_final_reviews": 0,
                      "total_gpt_final_favourites": 0,
                      "done_grading": 1,
                      "slot": "grade_domain",
                      "meta_data": null,
                      "date_submitted": "Mar 31, 2026 05:04",
                      "status": "NA",
                      "premium_fit": ""
                    },
                    {
                      "id": 7659422,
                      "domain_name": "weavoraindia.com",
                      "total_gpt_reviews": 0,
                      "total_gpt_favourites": 0,
                      "total_gpt_reverse_reviews": 0,
                      "total_gpt_negative_votes": 0,
                      "created_at": "2026-03-26 05:30:28",
                      "updated_at": "2026-03-26 05:30:50",
                      "is_brand_fit": 0,
                      "close_out_domain_id": null,
                      "market_place_domain_id": null,
                      "total_gpt_final_reviews": 0,
                      "total_gpt_final_favourites": 0,
                      "done_grading": 1,
                      "slot": "grade_domain",
                      "meta_data": null,
                      "date_submitted": "Mar 26, 2026 05:30",
                      "status": "In Progress",
                      "premium_fit": "Buyer Personas Checked: 0"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/smart-domain-search": {
      "get": {
        "description": "Find domain names by describing your business or brand concept. For example, search for 'beauty brand' or 'fintech startup' to discover relevant available domains.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Describe your business (Ex: Beauty Brand)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SmartDomainSearchResponse"
                },
                "example": {
                  "premium_domains": [
                    {
                      "domain_name": "brightly.com",
                      "availability": 1,
                      "selling_price": 9995,
                      "image_url": null
                    }
                  ],
                  "generated_domains": {
                    "Bright Ly": [
                      {
                        "domain": "brightly.com",
                        "available": false
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/trademark-search": {
      "get": {
        "description": "Search the USPTO trademark database to check for potential conflicts before registering or purchasing a domain name. Filter by filing status, international class, and more.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your Trademark API key",
            "required": true,
            "schema": {
              "type": "string",
              "default": "{{trademark_api_key}}"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Keyword to search for in trademark names",
            "required": true,
            "schema": {
              "type": "string",
              "default": "Google"
            }
          },
          {
            "name": "search_type",
            "in": "query",
            "description": "Type of search to perform",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filing_status",
            "in": "query",
            "description": "Filter by trademark filing status",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "class",
            "in": "query",
            "description": "International class filter (e.g., \u2018009\u2019 for computer software)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page (max 100)",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrademarkSearchResponse"
                },
                "example": {
                  "success": true,
                  "keyword": "brightly",
                  "search_type": "phrase",
                  "filing_status": "all",
                  "class": "",
                  "page": 1,
                  "page_size": 3,
                  "total_results": 103,
                  "data": [
                    {
                      "trademark_name": "BRIGHTLY",
                      "serial_number": "88421013",
                      "description": "Downloadable computer software for mobile devices featuring digital content in the nature of podcasts, webcasts, online magazines and journals, newsletters and blogs in the fields of shopping, health,...",
                      "status_category": "Dead",
                      "status_subcategory": "Abandoned",
                      "status_code": 606,
                      "international_classes": "009",
                      "owners": "BRIGHTLY GROUP INC., BRIGHTLY GROUP INC., Blue Tarp Strategies, Inc.",
                      "owners_full_details": [
                        {
                          "address": "236 WEST 30TH STREET, 8TH FLOOR ",
                          "entry_number": "1",
                          "city": "NEW YORK",
                          "party_type": "20",
                          "legal_entity_type_code": "03",
                          "name": "BRIGHTLY GROUP INC.",
                          "postcode": "10001",
                          "state": "NY"
                        }
                      ],
                      "filing_date": "2019-05-08",
                      "mark_drawing_code": "4",
                      "standard_characters_claimed": "T",
                      "trademark_in": "T",
                      "service_mark_in": "F",
                      "collective_service_mark_in": "F",
                      "collective_membership_mark_in": "F",
                      "certification_mark_in": "F",
                      "intent_to_use_in": "T",
                      "intent_to_use_current_in": "T",
                      "attorney_name": "Kristin Grant",
                      "attorney_correspondence": "Kristin Grant GRANT ATTORNEYS AT LAW PLLC;40 EXCHANGE PLACE, SUITE 1306;NEW YORK, NY 10005;UNITED STATES ",
                      "attorney_doc_number": "",
                      "registration_date": "N/A",
                      "status_date": "2022-06-06",
                      "case_file_events_statements": [
                        {
                          "date": "20200520",
                          "number": "18",
                          "code": "AITU",
                          "description-text": "CASE ASSIGNED TO INTENT TO USE PARALEGAL",
                          "type": "A"
                        },
                        {
                          "date": "20220317",
                          "number": "42",
                          "code": "ARAA",
                          "description-text": "ATTORNEY/DOM.REP.REVOKED AND/OR APPOINTED",
                          "type": "I"
                        }
                      ],
                      "created_at": "2025-08-28 16:25:42",
                      "logo_path": "/data/new/uspto/tm_images/88/42/10/13/88421013.png",
                      "_score": 3009.419
                    }
                  ],
                  "usage": {
                    "used_today": 1,
                    "daily_limit": 10,
                    "cumulative_count": 1,
                    "user_level": "B"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/partnership-search": {
      "get": {
        "description": "Browse and search available domains in the Atom marketplace. Filter by keyword, paginate through results, and discover premium domain names ready for purchase.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Search keyword or phrase to filter domains",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Page size",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSearchResponse"
                },
                "example": {
                  "success": true,
                  "total_records": 240,
                  "total_pages": 12,
                  "data": [
                    {
                      "id": 12345,
                      "domain_name": "brightly.com",
                      "status": "Approved",
                      "full_price": 12995,
                      "selling_price": 9995,
                      "primary_category": "Technology",
                      "discount": 3000,
                      "description": "A bright, memorable brandable domain.",
                      "logo_image": "https://www.atom.com/logo/brightly.png",
                      "purchase_url": "https://www.atom.com/name/brightly.com/rm/42",
                      "image_url": "https://www.atom.com/logo/brightly.png"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/domain-data": {
      "get": {
        "description": "Retrieve detailed information about a specific domain, including pricing, category, availability status, and listing details.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain name (e.g., example.com) or domain ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainDataResponse"
                },
                "example": {
                  "id": 12345,
                  "domain_name": "brightly.com",
                  "status": "Approved",
                  "full_price": 12995,
                  "selling_price": 9995,
                  "primary_category": "Technology",
                  "discount": 3000,
                  "description": "A bright, memorable brandable domain.",
                  "logo_image": "https://www.atom.com/logo/brightly.png",
                  "exp_commission": 450
                }
              }
            }
          }
        }
      }
    },
    "/hold-domain": {
      "post": {
        "description": "Reserve a domain when a customer adds it to their cart or while you verify payment. The hold prevents the domain from being purchased by another buyer while you process the transaction.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_id",
            "in": "query",
            "description": "The domain's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageResponse"
                },
                "example": {
                  "success": true,
                  "message": "Domain successfully added to Onhold"
                }
              }
            }
          }
        }
      }
    },
    "/confirm-order": {
      "post": {
        "description": "Confirm the purchase once payment has been collected and funds are verified. This finalizes the transaction and secures the transfer authorization code for your buyer.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_id",
            "in": "query",
            "description": "The domain's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "payment_amount",
            "in": "query",
            "description": "Custom payment amount if different from the listed selling price",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmOrderResponse"
                },
                "example": {
                  "success": true,
                  "message": "Successfully Created Order",
                  "domain_name": "brightly.com",
                  "order_id": 98765,
                  "order_data": {
                    "order_id": 98765,
                    "order_status": "Completed",
                    "transfer_status": "Completed",
                    "transfer_option": "option2",
                    "domain_name": "brightly.com",
                    "sale_price": 9995,
                    "expected_net_payout": 8495.75,
                    "actual_net_payout": 8495.75,
                    "created_at": "2026-03-09 10:15:22",
                    "updated_at": "2026-03-09 11:02:01",
                    "domain": {
                      "id": 12345,
                      "domain_name": "brightly.com",
                      "status": "Purchased",
                      "full_price": 12995,
                      "selling_price": 9995,
                      "primary_category": "Technology",
                      "discount": 3000,
                      "description": "A bright, memorable brandable domain.",
                      "logo_image": "https://www.atom.com/logo/brightly.png",
                      "image_url": "https://www.atom.com/logo/brightly.png"
                    },
                    "order_financials": {
                      "base_sale_price": 9995,
                      "calculated_sale_price": 9995,
                      "expected_net_payout": 8495.75,
                      "actual_net_payout": 8495.75,
                      "commission_rate": 15
                    },
                    "transfer_details": {
                      "transfer_option": "option2",
                      "transfer_status": "Completed",
                      "transfer_registrar": "GoDaddy",
                      "transfer_auth_code": "AUTH-CODE-123"
                    },
                    "partner_meta": {
                      "user_id": 1001
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/unhold-domain": {
      "post": {
        "description": "Release a previously reserved domain back to the marketplace. Use this if the customer decides not to proceed with the purchase.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_id",
            "in": "query",
            "description": "The domain's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessMessageResponse"
                },
                "example": {
                  "success": true,
                  "message": "Domain successfully removed from hold"
                }
              }
            }
          }
        }
      }
    },
    "/get-transfer-auth-code": {
      "post": {
        "description": "Retrieve the authorization code needed to transfer a purchased domain to the buyer's registrar of choice.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_id",
            "in": "query",
            "description": "The domain's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferAuthCodeResponse"
                },
                "example": {
                  "success": true,
                  "message": "Successfully fetched auth code",
                  "auth_code": "AUTH-CODE-123"
                }
              }
            }
          }
        }
      }
    },
    "/domain-appraisal": {
      "get": {
        "description": "Get an AI-powered appraisal for any domain name. Returns an estimated market value, domain quality score, key signals (length, brandability, extension), and root word analysis.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your Appraisal API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Domain Name to appraise",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAppraisalResponse"
                },
                "example": {
                  "domain_name": "brightly.com",
                  "atom_appraisal": 387500,
                  "domain_score": "9.00",
                  "positive_signals": [
                    "Short (8) Letters",
                    "Registered in 112 TLDs",
                    "Matching Companies Found in Crunchbase",
                    "Aged Domain (26.00 Years)",
                    "2 Syllables",
                    "Dictionary Word"
                  ],
                  "negative_signals": [],
                  "root_words": [],
                  "tld_taken_count": 112,
                  "tm_conflicts": 30,
                  "date_registered": "1998-01-23 05:00:00",
                  "external_message": null,
                  "appraisal_token": "abc123token",
                  "is_listed": false,
                  "bin_price": null,
                  "usage": {
                    "used_today": 1,
                    "daily_limit": 500,
                    "cumulative_count": 1,
                    "user_level": "C"
                  },
                  "bonus_credits_remaining": 244
                }
              }
            }
          }
        }
      }
    },
    "/semantic-search": {
      "get": {
        "description": "Discover domains using natural language queries. Describe what you're looking for \u2014 such as 'names for a healthcare startup' or 'short brandable tech names' \u2014 and get back the most relevant matches from Atom's marketplace using advanced AI-powered semantic search.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "query",
            "in": "query",
            "description": "Natural language search query (e.g., 'tech startup names\u2019, \u2018healthcare companies\u2019) Example: tech startup names",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filters",
            "in": "query",
            "description": "Optional filters to apply to the search (JSON string)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 1). Default value: 1. Example: 1",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Number of results per page (default: 20, max: 100). Default value: 20. Example: 20",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemanticSearchResponse"
                },
                "example": {
                  "success": true,
                  "query": "tech startup names",
                  "page": 1,
                  "page_size": 20,
                  "total": 20,
                  "total_pages": 1,
                  "processing_time_ms": 312.45,
                  "domains": [
                    {
                      "id": "brightly.com",
                      "domain_name": "brightly.com",
                      "image_url": "https://www.atom.com/logo/brightly.png",
                      "tld": "com",
                      "structure": 8,
                      "emotion": "Optimistic",
                      "price": 9995,
                      "selling_price": 9995,
                      "discount_price": 0,
                      "type_of_name": "One Word",
                      "special_collection": "",
                      "score": 0.87,
                      "pricing_type": "BIN",
                      "price_text": null,
                      "metadata": {
                        "tld": "com"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/new-listings": {
      "get": {
        "description": "Retrieve domains that were newly listed on the Atom marketplace on a specific date. Use this to stay up to date with fresh inventory and highlight new arrivals.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "date",
            "in": "query",
            "description": "Date in YYYY-MM-DD format to get listings for Example: 2025-07-21",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2025-07-21"
            }
          },
          {
            "name": "listing_type",
            "in": "query",
            "description": "Filter by listing type. \u2018Curated\u2019 returns only Atom-curated premium domains. \u2018All\u2019 returns all newly listed domains. Default: All",
            "schema": {
              "type": "string",
              "enum": [
                "Curated",
                "All"
              ],
              "default": "All"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NewListingsResponse"
                },
                "example": {
                  "success": true,
                  "total_records": 1,
                  "date": "2025-07-21",
                  "listing_type_filter": "All",
                  "data": [
                    {
                      "domain_name": "brightly.com",
                      "selling_price": "$9,995",
                      "listing_type": "Curated",
                      "word1": "bright",
                      "word2": "ly",
                      "word3": null,
                      "type_of_name": "One Word"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/orders": {
      "get": {
        "description": "Retrieve list of all partnership orders, including key details such as order status, total price, and created date. Use this endpoint to power order history views or internal reconciliation tools.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "domain_name",
            "in": "query",
            "description": "Optional filter to return only orders for a specific domain (e.g., example.com)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of orders per page (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderListResponse"
                },
                "example": {
                  "success": true,
                  "total_records": 1,
                  "total_pages": 1,
                  "page": 1,
                  "limit": 20,
                  "data": [
                    {
                      "order_id": 98765,
                      "order_status": "Completed",
                      "transfer_status": "Completed",
                      "transfer_option": "option2",
                      "domain_name": "brightly.com",
                      "sale_price": 9995,
                      "expected_net_payout": 8495.75,
                      "actual_net_payout": 8495.75,
                      "created_at": "2026-03-09 10:15:22",
                      "updated_at": "2026-03-09 11:02:01",
                      "domain": {
                        "id": 12345,
                        "domain_name": "brightly.com",
                        "status": "Purchased",
                        "full_price": 12995,
                        "selling_price": 9995,
                        "primary_category": "Technology",
                        "discount": 3000,
                        "description": "A bright, memorable brandable domain.",
                        "logo_image": "https://www.atom.com/logo/brightly.png",
                        "image_url": "https://www.atom.com/logo/brightly.png"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/order-details": {
      "get": {
        "description": "Retrieve full details for a specific partnership order, including purchased domain, pricing, payment/transfer status, financials, and partner metadata.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "order_id",
            "in": "query",
            "description": "The order's unique identifier",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderDetailsResponse"
                },
                "example": {
                  "success": true,
                  "data": {
                    "order_id": 98765,
                    "order_status": "Completed",
                    "transfer_status": "Completed",
                    "transfer_option": "option2",
                    "domain_name": "brightly.com",
                    "sale_price": 9995,
                    "expected_net_payout": 8495.75,
                    "actual_net_payout": 8495.75,
                    "created_at": "2026-03-09 10:15:22",
                    "updated_at": "2026-03-09 11:02:01",
                    "domain": {
                      "id": 12345,
                      "domain_name": "brightly.com",
                      "status": "Purchased",
                      "full_price": 12995,
                      "selling_price": 9995,
                      "primary_category": "Technology",
                      "discount": 3000,
                      "description": "A bright, memorable brandable domain.",
                      "logo_image": "https://www.atom.com/logo/brightly.png",
                      "image_url": "https://www.atom.com/logo/brightly.png"
                    },
                    "order_financials": {
                      "base_sale_price": 9995,
                      "calculated_sale_price": 9995,
                      "expected_net_payout": 8495.75,
                      "actual_net_payout": 8495.75,
                      "commission_rate": 15
                    },
                    "transfer_details": {
                      "transfer_option": "option2",
                      "transfer_status": "Completed",
                      "transfer_registrar": "GoDaddy",
                      "transfer_auth_code": "AUTH-CODE-123"
                    },
                    "partner_meta": {
                      "user_id": 1001
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/domains/search": {
      "get": {
        "description": "Search your domain portfolio by keyword, category, or name type. Use this to find specific domains within your listings.",
        "parameters": [
          {
            "name": "api_token",
            "in": "query",
            "description": "Your API key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "description": "Your Atom user ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "category",
            "in": "query",
            "description": "Search by category",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "description": "Search by Keyword",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name_type",
            "in": "query",
            "description": "Search by Type of Name",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DomainSearchResult"
                  }
                },
                "example": [
                  {
                    "id": 16109255,
                    "base_name": "Cirro",
                    "domain_name": "Cirro.com",
                    "selling_price": 0,
                    "visual_image": "https://public.atom.com/story_images/visual_images/logo-image-29930-cirro.jpg?class=listing",
                    "sale_price": 0,
                    "discount_price": 0,
                    "sale_visual_image": null,
                    "on_discount": false,
                    "make_offer": 0,
                    "on_make_offer": false,
                    "status": "Approved",
                    "url": "https://www.atom.com/name/Cirro/rm/305",
                    "category_name": "Tech, Internet, Software",
                    "category_id": 619
                  },
                  {
                    "id": 10333,
                    "base_name": "Avantley",
                    "domain_name": "Avantley.com",
                    "selling_price": 3299,
                    "visual_image": "https://public.atom.com/story_images/visual_images/logo-image-23899-avantley.jpg?class=listing",
                    "sale_price": 3499,
                    "discount_price": 0,
                    "sale_visual_image": "Banner_Domain_VisualSale_L_14_Avantley.jpg",
                    "on_discount": false,
                    "make_offer": 0,
                    "on_make_offer": false,
                    "status": "Approved",
                    "url": "https://www.atom.com/name/Avantley/rm/305",
                    "category_name": "Agency & Consulting",
                    "category_id": 592
                  }
                ]
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "MarketplaceDomain": {
        "type": "object",
        "description": "Domain listing payload returned by seller/marketplace domain APIs.",
        "properties": {
          "id": {
            "type": "integer",
            "example": 2725
          },
          "domain_name": {
            "type": "string",
            "example": "Grandopia.com"
          },
          "status": {
            "type": "string",
            "example": "Seller Approved"
          },
          "full_price": {
            "type": "number",
            "example": 9999
          },
          "selling_price": {
            "type": "number",
            "example": 9999
          },
          "primary_category": {
            "type": "string",
            "example": "Aerospace"
          },
          "discount": {
            "type": "number",
            "example": 0
          },
          "description": {
            "type": "string"
          },
          "logo_image": {
            "type": "string",
            "nullable": true
          },
          "listing_type": {
            "type": "string",
            "example": "Plus"
          }
        }
      },
      "PartnerSearchDomain": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MarketplaceDomain"
          },
          {
            "type": "object",
            "properties": {
              "purchase_url": {
                "type": "string",
                "example": "https://www.atom.com/name/brightly.com/rm/42"
              },
              "image_url": {
                "type": "string",
                "nullable": true,
                "example": "https://www.atom.com/logo/brightly.png"
              }
            }
          }
        ]
      },
      "PartnerSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "total_records": {
            "type": "integer",
            "example": 240
          },
          "total_pages": {
            "type": "integer",
            "example": 12
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerSearchDomain"
            }
          }
        }
      },
      "DomainDataResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MarketplaceDomain"
          },
          {
            "type": "object",
            "properties": {
              "exp_commission": {
                "type": "integer",
                "description": "Expected partner commission when available",
                "example": 450
              }
            }
          }
        ]
      },
      "MessageResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Successfully updated"
          }
        },
        "required": [
          "message"
        ]
      },
      "SuccessMessageResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Domain successfully added to Onhold"
          }
        }
      },
      "PartnerOrderDomain": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MarketplaceDomain"
          },
          {
            "type": "object",
            "properties": {
              "image_url": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "PartnerOrder": {
        "type": "object",
        "properties": {
          "order_id": {
            "type": "integer",
            "example": 98765
          },
          "order_status": {
            "type": "string",
            "example": "Completed"
          },
          "transfer_status": {
            "type": "string",
            "nullable": true,
            "example": "Completed"
          },
          "transfer_option": {
            "type": "string",
            "nullable": true,
            "example": "option2"
          },
          "domain_name": {
            "type": "string",
            "example": "brightly.com"
          },
          "sale_price": {
            "type": "number",
            "example": 9995
          },
          "expected_net_payout": {
            "type": "number",
            "nullable": true,
            "example": 8495.75
          },
          "actual_net_payout": {
            "type": "number",
            "nullable": true,
            "example": 8495.75
          },
          "created_at": {
            "type": "string",
            "example": "2026-03-09 10:15:22"
          },
          "updated_at": {
            "type": "string",
            "example": "2026-03-09 11:02:01"
          },
          "domain": {
            "$ref": "#/components/schemas/PartnerOrderDomain",
            "nullable": true
          }
        }
      },
      "OrderFinancials": {
        "type": "object",
        "properties": {
          "base_sale_price": {
            "type": "number",
            "example": 9995
          },
          "calculated_sale_price": {
            "type": "number",
            "example": 9995
          },
          "expected_net_payout": {
            "type": "number",
            "nullable": true,
            "example": 8495.75
          },
          "actual_net_payout": {
            "type": "number",
            "nullable": true,
            "example": 8495.75
          },
          "commission_rate": {
            "type": "number",
            "nullable": true,
            "example": 15
          }
        }
      },
      "TransferDetails": {
        "type": "object",
        "properties": {
          "transfer_option": {
            "type": "string",
            "nullable": true,
            "example": "option2"
          },
          "transfer_status": {
            "type": "string",
            "nullable": true,
            "example": "Completed"
          },
          "transfer_registrar": {
            "type": "string",
            "nullable": true,
            "example": "GoDaddy"
          },
          "transfer_auth_code": {
            "type": "string",
            "nullable": true,
            "example": "AUTH-CODE-123"
          }
        }
      },
      "PartnerOrderExtended": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PartnerOrder"
          },
          {
            "type": "object",
            "properties": {
              "order_financials": {
                "$ref": "#/components/schemas/OrderFinancials"
              },
              "transfer_details": {
                "$ref": "#/components/schemas/TransferDetails"
              },
              "partner_meta": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "example": 1001
                  }
                }
              }
            }
          }
        ]
      },
      "OrderListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "total_records": {
            "type": "integer",
            "example": 2
          },
          "total_pages": {
            "type": "integer",
            "example": 1
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "example": 20
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerOrder"
            }
          }
        }
      },
      "OrderDetailsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "$ref": "#/components/schemas/PartnerOrderExtended"
          }
        }
      },
      "ConfirmOrderResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Successfully Created Order"
          },
          "domain_name": {
            "type": "string",
            "example": "brightly.com"
          },
          "order_id": {
            "type": "integer",
            "example": 98765
          },
          "order_data": {
            "$ref": "#/components/schemas/PartnerOrderExtended",
            "nullable": true
          }
        }
      },
      "TransferAuthCodeResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Successfully fetched auth code"
          },
          "auth_code": {
            "type": "string",
            "example": "AUTH-CODE-123"
          }
        }
      },
      "NewListingDomain": {
        "type": "object",
        "properties": {
          "domain_name": {
            "type": "string",
            "example": "brightly.com"
          },
          "selling_price": {
            "type": "string",
            "example": "$9,995"
          },
          "listing_type": {
            "type": "string",
            "enum": [
              "Curated",
              "Standard"
            ],
            "example": "Curated"
          },
          "word1": {
            "type": "string",
            "nullable": true,
            "example": "bright"
          },
          "word2": {
            "type": "string",
            "nullable": true,
            "example": "ly"
          },
          "word3": {
            "type": "string",
            "nullable": true
          },
          "type_of_name": {
            "type": "string",
            "nullable": true,
            "example": "One Word"
          }
        }
      },
      "NewListingsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "total_records": {
            "type": "integer",
            "example": 1
          },
          "date": {
            "type": "string",
            "example": "2025-07-21"
          },
          "listing_type_filter": {
            "type": "string",
            "example": "All"
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NewListingDomain"
            }
          }
        }
      },
      "SemanticSearchDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "example": "brightly.com"
          },
          "domain_name": {
            "type": "string",
            "example": "brightly.com"
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "tld": {
            "type": "string",
            "example": "com"
          },
          "structure": {
            "type": [
              "string",
              "integer"
            ],
            "example": 8
          },
          "emotion": {
            "type": [
              "string",
              "array"
            ],
            "nullable": true
          },
          "price": {
            "type": "number",
            "example": 9995
          },
          "selling_price": {
            "type": "number",
            "example": 9995
          },
          "discount_price": {
            "type": "number",
            "example": 0
          },
          "type_of_name": {
            "type": "string",
            "example": "One Word"
          },
          "special_collection": {
            "type": "string",
            "nullable": true
          },
          "score": {
            "type": "number",
            "example": 0.87
          },
          "pricing_type": {
            "type": "string",
            "example": "BIN"
          },
          "price_text": {
            "type": "string",
            "nullable": true
          },
          "metadata": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "SemanticSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "query": {
            "type": "string",
            "example": "tech startup names"
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "page_size": {
            "type": "integer",
            "example": 20
          },
          "total": {
            "type": "integer",
            "example": 20
          },
          "total_pages": {
            "type": "integer",
            "example": 1
          },
          "processing_time_ms": {
            "type": "number",
            "example": 312.45
          },
          "domains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SemanticSearchDomain"
            }
          }
        }
      },
      "CategoryItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 12
          },
          "name": {
            "type": "string",
            "example": "Technology"
          }
        }
      },
      "PrimaryCategoriesResponse": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "example": "Primary categories list"
          },
          "categories": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Technology",
              "Health",
              "Finance"
            ]
          }
        }
      },
      "DomainAnalyticsResponse": {
        "type": "object",
        "properties": {
          "total_views": {
            "type": "integer",
            "example": 1520
          },
          "total_shortlists": {
            "type": "integer",
            "example": 84
          },
          "total_offers": {
            "type": "integer",
            "example": 3
          }
        }
      },
      "DnsVerifyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "DNS check request accepted"
          }
        }
      },
      "SaleRecord": {
        "type": "object",
        "properties": {
          "Domain Name": {
            "type": "string",
            "example": "brightly.com"
          },
          "sales_type": {
            "type": "string",
            "example": "Premium"
          },
          "sale_date": {
            "type": "string",
            "example": "Mar 09, 2026 10:15:22"
          },
          "sale_amount": {
            "type": "number",
            "example": 9995
          },
          "sale_amount_net": {
            "type": "number",
            "example": 8495.75
          },
          "sale_terms": {
            "type": "string",
            "example": "Outright"
          },
          "transfer_status": {
            "type": "string",
            "example": "AuthCode Sent"
          },
          "added_on": {
            "type": "string",
            "example": "Jan 12, 2025 08:00:00"
          }
        }
      },
      "DomainAppraisalResponse": {
        "type": "object",
        "properties": {
          "domain_name": {
            "type": "string",
            "example": "brightly.com"
          },
          "atom_appraisal": {
            "type": [
              "number",
              "integer",
              "string",
              "null"
            ],
            "example": 387500
          },
          "domain_score": {
            "type": [
              "number",
              "string"
            ],
            "example": "9.00"
          },
          "positive_signals": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "negative_signals": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "root_words": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tld_taken_count": {
            "type": "integer",
            "example": 112
          },
          "tm_conflicts": {
            "type": [
              "integer",
              "object",
              "array"
            ],
            "example": 30
          },
          "date_registered": {
            "type": "string",
            "nullable": true,
            "example": "1998-01-23 05:00:00"
          },
          "external_message": {
            "type": "string",
            "nullable": true
          },
          "appraisal_token": {
            "type": "string",
            "nullable": true
          },
          "is_listed": {
            "type": "boolean",
            "example": false
          },
          "bin_price": {
            "type": [
              "number",
              "null"
            ]
          },
          "usage": {
            "$ref": "#/components/schemas/ApiUsage"
          },
          "bonus_credits_remaining": {
            "type": "integer",
            "example": 244
          }
        }
      },
      "TrademarkSearchResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "keyword": {
            "type": "string",
            "example": "brightly"
          },
          "search_type": {
            "type": "string",
            "example": "phrase"
          },
          "filing_status": {
            "type": "string",
            "example": "all"
          },
          "class": {
            "type": "string",
            "nullable": true
          },
          "page": {
            "type": "integer",
            "example": 1
          },
          "page_size": {
            "type": "integer",
            "example": 3
          },
          "total_results": {
            "type": "integer",
            "example": 103
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrademarkRecord"
            }
          },
          "usage": {
            "$ref": "#/components/schemas/ApiUsage"
          }
        }
      },
      "SmartDomainSearchResponse": {
        "type": "object",
        "properties": {
          "premium_domains": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "domain_name": {
                  "type": "string"
                },
                "availability": {
                  "type": "integer"
                },
                "selling_price": {
                  "type": [
                    "number",
                    "string"
                  ]
                },
                "image_url": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          },
          "generated_domains": {
            "type": "object",
            "additionalProperties": true,
            "description": "Map of generated name variants to availability check results"
          }
        }
      },
      "Error": {
        "required": [
          "message"
        ],
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "message": {
            "type": "string"
          },
          "retry_after": {
            "type": "integer"
          }
        }
      },
      "TrademarkOwnerDetail": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "city": {
            "type": "string"
          },
          "state": {
            "type": "string"
          },
          "postcode": {
            "type": "string"
          },
          "party_type": {
            "type": "string"
          },
          "legal_entity_type_code": {
            "type": "string"
          },
          "entry_number": {
            "type": "string"
          },
          "dba": {
            "type": "string"
          }
        }
      },
      "TrademarkCaseFileEvent": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string"
          },
          "number": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "description-text": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        }
      },
      "TrademarkRecord": {
        "type": "object",
        "properties": {
          "trademark_name": {
            "type": "string",
            "example": "BRIGHTLY"
          },
          "serial_number": {
            "type": "string",
            "example": "88421013"
          },
          "description": {
            "type": "string"
          },
          "status_category": {
            "type": "string",
            "example": "Dead"
          },
          "status_subcategory": {
            "type": "string",
            "example": "Abandoned"
          },
          "status_code": {
            "type": [
              "integer",
              "string"
            ],
            "example": 606
          },
          "international_classes": {
            "type": "string",
            "example": "009"
          },
          "owners": {
            "type": "string"
          },
          "owners_full_details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrademarkOwnerDetail"
            }
          },
          "filing_date": {
            "type": "string",
            "example": "2019-05-08"
          },
          "registration_date": {
            "type": "string",
            "nullable": true
          },
          "status_date": {
            "type": "string"
          },
          "mark_drawing_code": {
            "type": "string"
          },
          "standard_characters_claimed": {
            "type": "string"
          },
          "trademark_in": {
            "type": "string"
          },
          "service_mark_in": {
            "type": "string"
          },
          "collective_service_mark_in": {
            "type": "string"
          },
[...]
