{
  "openapi": "3.0.0",
  "info": {
    "title": "Atom Registrar API",
    "version": "1.0.0",
    "description": "REST API for domain registration, DNS management, and domain operations. Authentication via Bearer token in Authorization header."
  },
  "servers": [
    {
      "url": "https://www.atom.com/api",
      "description": "Production server"
    },
    {
      "url": "https://dev.atom.com/api",
      "description": "Development server"
    }
  ],
  "x-mint": {
    "group": "Registrar APIs"
  },
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "paths": {
    "/registrar/v1/domains": {
      "get": {
        "operationId": "listRegistrarDomains",
        "tags": ["Registrar"],
        "summary": "List all domains",
        "description": "Get a paginated list of all domains owned by the authenticated user. Supports search, filtering by extension, and pagination.",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Number of results per page (default: 20, max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/check/{domain_name}": {
      "get": {
        "summary": "Check domain availability",
        "description": "Check if a single domain name is available for registration. Some results may be cached.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name to check (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^[a-z0-9]+([\\-\\.]{1}[a-z0-9]+)*\\.[a-z]{2,}$"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/check-bulk": {
      "post": {
        "summary": "Check multiple domains availability",
        "description": "Check availability for multiple domain names (max 50 domains per request). Some results may be cached.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkDomainCheckRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDomainCheckResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/registrar/v1/domains/register": {
      "post": {
        "summary": "Register a new domain",
        "description": "Register a new domain name. Performs a real-time availability check, processes payment (account balance or saved card), and registers the domain with a 60-day transfer lock and parking nameservers.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainRegistrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainRegistrationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "description": "Payment failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/registrar/v1/domains/transfer": {
      "post": {
        "operationId": "transferDomain",
        "tags": ["Registrar"],
        "summary": "Transfer a domain in",
        "description": "Initiate a domain transfer-in to Atom Registrar. Validates eligibility (domain not already owned, no transfer in progress, correct auth code, no transfer lock, not registered within 60 days), resolves pricing, processes payment via account balance or saved card, then initiates the transfer with the upstream registrar. A confirmation email is sent when the transfer is accepted.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainTransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainTransferResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "description": "Payment failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "409": {
            "description": "Domain already in Atom Registrar or transfer already in progress",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "Transfer not eligible (locked, invalid authcode, status, or 60-day restriction)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/transfer-bulk": {
      "post": {
        "operationId": "transferDomainBulk",
        "tags": ["Registrar"],
        "summary": "Bulk transfer domains in",
        "description": "Initiate transfer-in for up to 10 domains in a single request. All domains are validated and priced first; a single payment is charged for the aggregate total. Transfers are then initiated one by one. Domains that fail to transfer are individually refunded to your account balance (if paid via balance) or flagged for manual review (if paid via card).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainBulkTransferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Bulk transfer complete (may include partial failures)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainBulkTransferResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "402": {
            "description": "Payment failed for the full batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "422": {
            "description": "No domains passed validation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}": {
      "get": {
        "summary": "Get domain details",
        "description": "Get detailed information about a specific domain including status, expiry date, nameservers, DNSSEC status, and contact information.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainDetailsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/records": {
      "get": {
        "summary": "List DNS records",
        "description": "Get all active DNS records for a domain. Syncs with PowerDNS before returning results.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create DNS record",
        "description": "Create a new DNS record for the domain. Supports A, AAAA, CNAME, MX, TXT and other standard record types.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsRecordCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "DNS record created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/records/{record_id}": {
      "put": {
        "summary": "Update DNS record",
        "description": "Update an existing DNS record. All fields are optional; only provided fields will be updated.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "record_id",
            "in": "path",
            "description": "DNS record ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsRecordUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNS record updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "delete": {
        "summary": "Delete DNS record",
        "description": "Delete a specific DNS record by its ID.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "record_id",
            "in": "path",
            "description": "DNS record ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS record deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/nameservers": {
      "get": {
        "summary": "Get domain nameservers",
        "description": "Get the current nameservers configured for a domain. Returns nameserver list and type (atom, parking, or custom).",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameserversResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "put": {
        "summary": "Update domain nameservers",
        "description": "Update nameservers for a domain. Supports atom, parking, or custom nameservers. Automatically disables DNSSEC if switching nameserver types.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NameserversUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Nameservers updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NameserversResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/privacy": {
      "put": {
        "summary": "Toggle domain privacy protection",
        "description": "Enable or disable WHOIS privacy protection for a domain. May require contact verification via email.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrivacyUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Privacy protection updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyResponse"
                }
              }
            }
          },
          "202": {
            "description": "Privacy protection update accepted, verification required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivacyVerificationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/auto-renew": {
      "put": {
        "summary": "Toggle domain auto-renewal",
        "description": "Enable or disable automatic renewal for a domain before expiration.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoRenewUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Auto-renewal updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoRenewResponse"
                }
              }
            }
          },
          "202": {
            "description": "Auto-renewal toggle request accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutoRenewResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/contacts": {
      "put": {
        "operationId": "updateDomainContacts",
        "tags": ["Contacts"],
        "summary": "Update domain contact handles",
        "description": "Assign contact handles to one or more roles on a domain — `registrant`, `admin`, `billing`, and/or `tech`. At least one role must be supplied; roles that are omitted remain unchanged.\n\nIf the registrar requires email verification (e.g. registrant change), a **202** is returned and the update is applied once the verification email is approved.\n\nThe domain must have `domain_contact_management` enabled (active, non-locked domain with Atom nameservers).",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "required": true,
            "description": "Domain name (e.g. `example.com`)",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomainContactsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contacts updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDomainContactsResponse"
                }
              }
            }
          },
          "202": {
            "description": "Accepted — verification email sent. The update is applied once the user approves via email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Domain contact update initiated. Please verify the update via the email sent to your registered email address." },
                    "verification_required": { "type": "boolean", "example": true },
                    "data": {
                      "type": "object",
                      "properties": {
                        "domain_name": { "type": "string", "example": "example.com" }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "403": { "$ref": "#/components/responses/Forbidden" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/url-forwards": {
      "get": {
        "summary": "Get URL forwarding rules",
        "description": "Get all active URL forwarding rules configured for a domain.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlForwardsListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      },
      "post": {
        "summary": "Create URL forward",
        "description": "Create a new URL forwarding rule for a domain. Supports permanent (301) and temporary (302) redirects.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UrlForwardCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "URL forward created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UrlForwardResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/url-forwards/{forward_id}": {
      "delete": {
        "summary": "Delete URL forward",
        "description": "Delete a specific URL forwarding rule by its ID.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "forward_id",
            "in": "path",
            "description": "URL forward ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "URL forward deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuccessResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/dns/filter": {
      "get": {
        "summary": "Filter DNS records",
        "description": "Filter DNS records by subdomain and/or record type. Useful for finding specific records.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subdomain",
            "in": "query",
            "description": "Subdomain to filter by (use '@' for root domain)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "DNS record type to filter by (A, AAAA, CNAME, MX, TXT, etc.)",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnsRecordsFilterResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/dns/bulk-update": {
      "put": {
        "summary": "Bulk update DNS records",
        "description": "Update all DNS records matching specific subdomain and type criteria. Updates content and optionally TTL for all matching records.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DnsBulkUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNS records updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/dns/bulk-delete": {
      "delete": {
        "summary": "Bulk delete DNS records",
        "description": "Delete all DNS records matching specific subdomain and type criteria. Type parameter is required.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subdomain",
            "in": "query",
            "description": "Subdomain to filter by (use '@' for root domain, optional)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "DNS record type to delete (A, AAAA, CNAME, MX, TXT, etc.)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNS records deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkOperationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/dnssec": {
      "get": {
        "summary": "Get DNSSEC records",
        "description": "Get DNSSEC DS records for a domain. Returns parsed records with algorithm and digest type names.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnssecResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/dnssec/enable": {
      "post": {
        "operationId": "enableDnssec",
        "tags": ["DNS Management"],
        "summary": "Enable DNSSEC",
        "description": "Enable DNSSEC for a domain.\n\n## Nameserver behavior\n\n| Nameserver type | Key fields (`flags`, `algorithm`, `protocol`, `public_key`) |\n|---|---|\n| **Atom / Parking nameservers** | **Ignored.** DNSSEC is fully auto-managed: Atom generates and rotates keys automatically. You do not need to supply any key fields — if you do, they are silently discarded. |\n| **Custom nameservers** | **Required.** All four fields must be provided. The supplied key is pushed directly to the upstream registrar. |\n\n> **Note:** If your domain uses Atom or Parking nameservers (e.g. `ns1.atom.com`, `ns1.squadhelp.com`, `ns1.atomregistrar.com`), the algorithm, protocol, flags, and public key in the request body have **no effect**. DNSSEC is automatically applied and managed by Atom.",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g. `example.com`)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EnableDnssecRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNSSEC enabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EnableDnssecResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/domains/{domain_name}/dnssec/disable": {
      "post": {
        "summary": "Disable DNSSEC",
        "description": "Disable DNSSEC for a domain. Required before changing nameservers.",
        "parameters": [
          {
            "name": "domain_name",
            "in": "path",
            "description": "Domain name (e.g., 'example.com')",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "DNSSEC disabled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DnssecToggleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        }
      }
    },
    "/registrar/v1/contacts": {
      "get": {
        "operationId": "listContacts",
        "tags": ["Contacts"],
        "summary": "List contacts",
        "description": "Returns all contact handles associated with the authenticated user — the primary registrant contact (RegistrantUser) plus any additional contact handles.",
        "security": [{ "BearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "data": {
                      "type": "array",
                      "items": { "$ref": "#/components/schemas/ContactObject" }
                    },
                    "total": { "type": "integer", "example": 2 }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      },
      "post": {
        "operationId": "createContact",
        "tags": ["Contacts"],
        "summary": "Create a contact",
        "description": "Creates a new registrar contact handle. If no primary registrant contact (RegistrantUser) exists for the account, this request creates one. Subsequent calls create additional contact handles. The contact is also registered with the upstream registrar (RealtimeRegister).",
        "security": [{ "BearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ContactInput" },
              "examples": {
                "individual": {
                  "summary": "Individual contact",
                  "value": {
                    "name": "Jane Doe",
                    "email": "jane@example.com",
                    "phone": "+1.2025551234",
                    "address": "123 Main St",
                    "city": "Chicago",
                    "state": "IL",
                    "zip": "60601",
                    "country": "US"
                  }
                },
                "business": {
                  "summary": "Business contact with label",
                  "value": {
                    "first_name": "Jane",
                    "last_name": "Doe",
                    "email": "jane@acme.com",
                    "phone": "+1.2025551234",
                    "organization": "Acme Corp",
                    "address": ["123 Main St", "Suite 400"],
                    "city": "Chicago",
                    "state": "IL",
                    "zip": "60601",
                    "country": "US",
                    "label": "Acme Legal",
                    "disclosed_fields": ["name", "email"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Contact created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Contact created successfully" },
                    "data": { "$ref": "#/components/schemas/ContactObject" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "409": {
            "description": "Conflict — a contact with the same label already exists",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "Registrar rejected the contact — see `violations` for field-level errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Registrar Error" },
                    "message": { "type": "string", "example": "Failed to create contact" },
                    "violations": {
                      "type": "array",
                      "items": { "type": "object" }
                    }
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    },
    "/registrar/v1/contacts/{handle}": {
      "put": {
        "operationId": "updateContact",
        "tags": ["Contacts"],
        "summary": "Update a contact",
        "description": "Updates an existing contact handle. Only the fields provided in the request body are changed — omitted fields keep their current values. If the registrar requires email verification for the change (e.g. email address updates), a 202 response is returned and the update is applied once the user approves the verification email.",
        "security": [{ "BearerAuth": [] }],
        "parameters": [
          {
            "name": "handle",
            "in": "path",
            "required": true,
            "description": "The registrar contact handle to update (e.g. `ATOM-12345` or `CONTACT_1-67890`)",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "All fields are optional — only provide the fields you want to change.",
                "properties": {
                  "name": { "type": "string", "example": "Jane Smith" },
                  "first_name": { "type": "string", "example": "Jane" },
                  "last_name": { "type": "string", "example": "Smith" },
                  "email": { "type": "string", "format": "email", "example": "jane.smith@example.com" },
                  "phone": { "type": "string", "example": "+1.2025559876" },
                  "fax": { "type": "string", "example": null },
                  "organization": { "type": "string", "example": "Acme Corp" },
                  "address": {
                    "oneOf": [
                      { "type": "string" },
                      { "type": "array", "items": { "type": "string" } }
                    ],
                    "example": ["456 Oak Ave", "Floor 2"]
                  },
                  "city": { "type": "string", "example": "Austin" },
                  "state": { "type": "string", "example": "TX" },
                  "zip": { "type": "string", "example": "78701" },
                  "country": { "type": "string", "example": "US" },
                  "label": { "type": "string", "example": "Updated Label" },
                  "disclosed_fields": {
                    "type": "array",
                    "items": { "type": "string" },
                    "example": ["name"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Contact updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Contact updated successfully" },
                    "data": { "$ref": "#/components/schemas/ContactObject" }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Accepted — verification email sent. The contact will be updated once the user approves via email.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "message": { "type": "string", "example": "Verification email sent. Please approve the contact update via email to complete the change." },
                    "verification_required": { "type": "boolean", "example": true },
                    "data": { "$ref": "#/components/schemas/ContactObject" }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/UnauthorizedError" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": {
            "description": "Conflict — label already used by another contact",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "422": {
            "description": "Registrar rejected the update — see `violations` for field-level errors",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": false },
                    "error": { "type": "string", "example": "Registrar Error" },
                    "message": { "type": "string" },
                    "violations": { "type": "array", "items": { "type": "object" } }
                  }
                }
              }
            }
          },
          "500": { "$ref": "#/components/responses/InternalServerError" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Registrar API Bearer token. Obtain from dashboard at /dashboard/seller/api-access after requesting Registrar API access."
      }
    },
    "schemas": {
      "DomainListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DomainSummary"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          }
        }
      },
      "DomainSummary": {
        "type": "object",
        "properties": {
          "domain_name": {
            "type": "string",
            "example": "example.com"
          },
          "status": {
            "type": "string",
            "example": "active"
          },
          "extension": {
            "type": "string",
            "example": "com"
          },
          "created_date": {
            "type": "string",
            "format": "date-time",
            "example": "2024-01-15 10:30:00"
          },
          "updated_date": {
            "type": "string",
            "format": "date-time",
            "example": "2024-02-10 14:20:00"
          },
          "expiry_date": {
            "type": "string",
            "format": "date-time",
            "example": "2025-01-15 10:30:00"
          },
          "auto_renew": {
            "type": "boolean",
            "example": true
          },
          "privacy_protect": {
            "type": "boolean",
            "example": false
          },
          "transfer_locked": {
            "type": "boolean",
            "example": true
          },
          "dnssec_enabled": {
            "type": "boolean",
            "example": false
          },
          "nameservers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": ["ns1.atom.com", "ns2.atom.com"]
          },
          "registrant_handle": {
            "type": "string",
            "example": "REG_12345"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer",
            "example": 1
          },
          "total_pages": {
            "type": "integer",
            "example": 5
          },
          "per_page": {
            "type": "integer",
            "example": 20
          },
          "total_records": {
            "type": "integer",
            "example": 87
          }
        }
      },
      "DomainCheckResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string",
                "example": "example.com"
              },
              "availability": {
                "type": "integer",
                "description": "1 = available, 0 = unavailable, -1 = unknown",
                "example": 1
              },
              "status": {
                "type": "string",
                "enum": ["available", "unavailable", "unknown"],
                "example": "available"
              }
            }
          }
        }
      },
      "BulkDomainCheckRequest": {
        "type": "object",
        "required": ["domains"],
        "properties": {
          "domains": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 50,
            "example": ["example.com", "test.net", "sample.org"]
          }
        }
      },
      "BulkDomainCheckResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "total_requested": {
                "type": "integer",
                "example": 3
              },
              "successfully_checked": {
                "type": "integer",
                "example": 2
              },
              "errors": {
                "type": "integer",
                "example": 1
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "example": "example.com"
                    },
                    "availability": {
                      "type": "integer",
                      "example": 1
                    },
                    "status": {
                      "type": "string",
                      "example": "available"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message if status is error or invalid"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "UpdateDomainContactsRequest": {
        "type": "object",
        "description": "At least one of `registrant`, `admin`, `billing`, or `tech` must be provided. Omitted roles are left unchanged.",
        "minProperties": 1,
        "properties": {
          "registrant": {
            "type": "string",
            "example": "ATOM-12345",
            "description": "Contact handle to set as the registrant. Must belong to the authenticated user."
          },
          "admin": {
            "type": "string",
            "example": "CONTACT_1-67890",
            "description": "Contact handle to set as the administrative contact."
          },
          "billing": {
            "type": "string",
            "example": "CONTACT_2-67890",
            "description": "Contact handle to set as the billing contact."
          },
          "tech": {
            "type": "string",
            "example": "CONTACT_3-67890",
            "description": "Contact handle to set as the technical contact."
          }
        }
      },
      "UpdateDomainContactsResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "message": { "type": "string", "example": "Domain contacts updated successfully" },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": { "type": "string", "example": "example.com" },
              "registrant_handle": { "type": "string", "example": "ATOM-12345" },
              "admin_handle": { "type": "string", "example": "CONTACT_1-67890", "nullable": true },
              "billing_handle": { "type": "string", "example": "CONTACT_2-67890", "nullable": true },
              "tech_handle": { "type": "string", "example": "CONTACT_3-67890", "nullable": true }
            }
          }
        }
      },
      "EnableDnssecRequest": {
        "type": "object",
        "description": "DNSSEC key fields for enabling DNSSEC.\n\n**Atom / Parking nameservers:** All fields are optional and will be ignored — DNSSEC is auto-managed.\n\n**Custom nameservers:** `flags`, `algorithm`, `protocol`, and `public_key` are required. `digest_type` is optional (defaults to `2` / SHA-256).",
        "properties": {
          "flags": {
            "type": "integer",
            "description": "DNSKEY flags. `256` = ZSK (Zone Signing Key), `257` = KSK (Key Signing Key). **Ignored for Atom/Parking nameservers.**",
            "enum": [256, 257],
            "example": 256
          },
          "algorithm": {
            "type": "integer",
            "description": "DNSKEY algorithm number. **Ignored for Atom/Parking nameservers.**\n\n| Value | Algorithm |\n|---|---|\n| `3` | DSA/SHA-1 |\n| `5` | RSA/SHA-1 |\n| `6` | DSA-NSEC3-SHA1 |\n| `7` | RSASHA1-NSEC3-SHA1 |\n| `8` | RSA/SHA-256 |\n| `10` | RSA/SHA-512 |\n| `12` | GOST R 34.10-2001 |\n| `13` | ECDSA P-256/SHA-256 |\n| `14` | ECDSA P-384/SHA-384 |\n| `15` | Ed25519 |\n| `16` | Ed448 |\n| `17` | SM2/SM3 |\n| `23` | GOST R 34.10-2012 |",
            "enum": [3, 5, 6, 7, 8, 10, 12, 13, 14, 15, 16, 17, 23],
            "example": 13
          },
          "protocol": {
            "type": "integer",
            "description": "DNSKEY protocol. Must be `3` (the only valid value per RFC 4034). **Ignored for Atom/Parking nameservers.**",
            "enum": [3],
            "example": 3
          },
          "public_key": {
            "type": "string",
            "description": "Base64-encoded public key material from your DNS provider. **Ignored for Atom/Parking nameservers.**",
            "example": "AwEAAaz/tAm8yeTHkmTpF84YtQQKDE2S..."
          },
          "digest_type": {
            "type": "integer",
            "description": "Digest algorithm used to compute the DS record returned in the response. Defaults to `2` (SHA-256). **Ignored for Atom/Parking nameservers.**\n\n| Value | Algorithm | Notes |\n|---|---|---|\n| `1` | SHA-1 | Legacy; avoid for new deployments |\n| `2` | SHA-256 | **Recommended** (default) |\n| `3` | GOST R 34.11-94 | Requires server-side GOST engine |\n| `4` | SHA-384 | High-security deployments |",
            "enum": [1, 2, 3, 4],
            "default": 2,
            "example": 2
          }
        }
      },
      "EnableDnssecResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "DNSSEC enabled successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "dnssec_enabled": {
                "type": "boolean",
                "example": true
              },
              "auto_managed": {
                "type": "boolean",
                "description": "`true` when Atom/Parking nameservers are in use and DNSSEC is auto-managed. `false` when custom nameservers are used and caller-supplied keys were applied.",
                "example": true
              },
              "key_data": {
                "type": "array",
                "description": "Active DNSKEY records. Populated for Atom/Parking NS; echoes supplied key for custom NS.",
                "items": {
                  "type": "object",
                  "properties": {
                    "flags":     { "type": "integer", "example": 256 },
                    "algorithm": { "type": "integer", "example": 13 },
                    "protocol":  { "type": "integer", "example": 3 },
                    "publicKey": { "type": "string",  "example": "AwEAAaz/tAm8yeTHkmTp..." }
                  }
                }
              },
              "ds_record": {
                "type": "object",
                "nullable": true,
                "description": "DS record computed from the supplied DNSKEY using the requested `digest_type`. `null` for Atom/Parking nameservers (auto-managed) or if DS generation fails.",
                "properties": {
                  "keyTag": {
                    "type": "integer",
                    "description": "Key tag (RFC 4034 Appendix B).",
                    "example": 40741
                  },
                  "algorithm": {
                    "type": "integer",
                    "description": "DNSKEY algorithm number (matches the `algorithm` supplied in the request).",
                    "example": 13
                  },
                  "digestType": {
                    "type": "integer",
                    "description": "Digest type used (matches the `digest_type` supplied in the request, or `2` if omitted).",
                    "example": 2
                  },
                  "digest": {
                    "type": "string",
                    "description": "Uppercase hex digest string.",
                    "example": "49FD46E6C4B45C55D4AC69CBD3CD34AC1AFC42F7E79AC26D0986B31EF3AD27A7"
                  }
                }
              }
            }
          }
        }
      },
      "DomainTransferRequest": {
        "type": "object",
        "required": ["domain_name", "authcode"],
        "properties": {
          "domain_name": {
            "type": "string",
            "example": "example.com",
            "description": "The domain name to transfer in"
          },
          "authcode": {
            "type": "string",
            "example": "Ab1!Cd2@Ef3#",
            "description": "Auth/EPP code from the current registrar. Required to authorize the transfer."
          }
        }
      },
      "DomainTransferResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Domain transfer initiated successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string",
                "example": "example.com"
              },
              "status": {
                "type": "string",
                "example": "Transfer Initiated"
              },
              "payment_method": {
                "type": "string",
                "enum": ["account_balance", "saved_card"],
                "example": "account_balance"
              },
              "cart_id": {
                "type": "integer",
                "example": 12345
              },
              "price_breakdown": {
                "type": "object",
                "properties": {
                  "unit_price": {
                    "type": "number",
                    "format": "float",
                    "example": 9.99
                  },
                  "icann_fee": {
                    "type": "number",
                    "format": "float",
                    "example": 0.18
                  },
                  "is_premium": {
                    "type": "boolean",
                    "example": false
                  },
                  "total": {
                    "type": "number",
                    "format": "float",
                    "example": 10.17
                  }
                }
              }
            }
          }
        }
      },
      "DomainBulkTransferRequest": {
        "type": "object",
        "required": ["domains"],
        "properties": {
          "domains": {
            "type": "array",
            "maxItems": 10,
            "description": "List of domains to transfer (max 10 per request)",
            "items": {
              "type": "object",
              "required": ["domain_name", "authcode"],
              "properties": {
                "domain_name": {
                  "type": "string",
                  "example": "example.com"
                },
                "authcode": {
                  "type": "string",
                  "example": "Ab1!Cd2@Ef3#"
                }
              }
            }
          }
        }
      },
      "DomainBulkTransferResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Bulk transfer complete: 2 initiated, 0 failed"
          },
          "data": {
            "type": "object",
            "properties": {
              "cart_id": {
                "type": "integer",
                "example": 12345
              },
              "payment_method": {
                "type": "string",
                "enum": ["account_balance", "saved_card"],
                "example": "account_balance"
              },
              "total_requested": {
                "type": "integer",
                "example": 2
              },
              "total_valid": {
                "type": "integer",
                "example": 2
              },
              "succeeded": {
                "type": "integer",
                "example": 2
              },
              "failed": {
                "type": "integer",
                "example": 0
              },
              "total_charged": {
                "type": "number",
                "format": "float",
                "example": 20.34
              },
              "total_refunded": {
                "type": "number",
                "format": "float",
                "example": 0,
                "description": "Amount refunded to account balance for failed transfers (only when payment method is account_balance)"
              },
              "results": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "domain": {
                      "type": "string",
                      "example": "example.com"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["Transfer Initiated", "failed"],
                      "example": "Transfer Initiated"
                    },
                    "error": {
                      "type": "string",
                      "description": "Present only when status is failed",
                      "example": "Domain is locked for transfer"
                    },
                    "price_breakdown": {
                      "type": "object",
                      "description": "Present only when status is Transfer Initiated",
                      "properties": {
                        "unit_price": {
                          "type": "number",
                          "format": "float",
                          "example": 9.99
                        },
                        "icann_fee": {
                          "type": "number",
                          "format": "float",
                          "example": 0.18
                        },
                        "is_premium": {
                          "type": "boolean",
                          "example": false
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "DomainRegistrationRequest": {
        "type": "object",
        "required": ["domain_name"],
        "properties": {
          "domain_name": {
            "type": "string",
            "example": "example.com"
          },
          "registration_length": {
            "type": "integer",
            "minimum": 1,
            "maximum": 10,
            "default": 1,
            "example": 2,
            "description": "Number of years to register (1-10)"
          }
        }
      },
      "DomainRegistrationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Domain registered successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "domain": {
                "type": "string",
                "example": "example.com"
              },
              "registration_length": {
                "type": "integer",
                "example": 2
              },
              "payment_method": {
                "type": "string",
                "enum": ["account_balance", "saved_card"],
                "example": "account_balance"
              },
              "cart_id": {
                "type": "integer",
                "example": 12345
              },
              "price_breakdown": {
                "type": "object",
                "properties": {
                  "unit_price": {
                    "type": "number",
                    "format": "float",
                    "example": 9.99
                  },
                  "registration_length": {
                    "type": "integer",
                    "example": 2
                  },
                  "subtotal": {
                    "type": "number",
                    "format": "float",
                    "example": 19.98
                  },
                  "vat_amount": {
                    "type": "number",
                    "format": "float",
                    "example": 0
                  },
                  "total": {
                    "type": "number",
                    "format": "float",
                    "example": 19.98
                  }
                }
              },
              "status": {
                "type": "string",
                "example": "Completed"
              }
            }
          }
        }
      },
      "DomainDetailsResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "status": {
                "type": "string",
                "example": "active"
              },
              "whois_status": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["clientTransferProhibited", "ok"]
              },
              "extension": {
                "type": "string",
                "example": "com"
              },
              "created_date": {
                "type": "string",
                "format": "date-time"
              },
              "updated_date": {
                "type": "string",
                "format": "date-time"
              },
              "expiry_date": {
                "type": "string",
                "format": "date-time"
              },
              "auto_renew": {
                "type": "boolean",
                "example": true
              },
              "auto_renew_period": {
                "type": "integer",
                "example": 12
              },
              "privacy_protect": {
                "type": "boolean",
                "example": false
              },
              "transfer_locked": {
                "type": "boolean",
                "example": true
              },
              "dnssec_enabled": {
                "type": "boolean",
                "example": false
              },
              "nameservers": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["ns1.atom.com", "ns2.atom.com"]
              },
              "registrant_handle": {
                "type": "string",
                "example": "REG_12345"
              },
              "admin_handle": {
                "type": "string",
                "nullable": true
              },
              "tech_handle": {
                "type": "string",
                "nullable": true
              },
              "billing_handle": {
                "type": "string",
                "nullable": true
              },
              "registrant_contact": {
                "type": "object",
                "nullable": true,
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  },
                  "organization": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      },
      "DnsRecordsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "records": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnsRecord"
                }
              }
            }
          }
        }
      },
      "DnsRecord": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 123
          },
          "type": {
            "type": "string",
            "example": "A"
          },
          "name": {
            "type": "string",
            "example": "@"
          },
          "content": {
            "type": "string",
            "example": "192.0.2.1"
          },
          "ttl": {
            "type": "integer",
            "example": 3600
          },
          "comment": {
            "type": "string",
            "nullable": true
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "DnsRecordCreateRequest": {
        "type": "object",
        "required": ["type", "content"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["A", "AAAA", "CNAME", "MX", "TXT"],
            "example": "A"
          },
          "name": {
            "type": "string",
            "description": "Subdomain name (use empty string or '@' for root domain)",
            "example": "www"
          },
          "content": {
            "type": "string",
            "example": "192.0.2.1"
          },
          "ttl": {
            "type": "integer",
            "default": 3600,
            "example": 3601
          },
          "comment": {
            "type": "string",
            "description": "Optional comment for the record"
          },
          "priority": {
            "type": "integer",
            "description": "Priority for MX records"
          }
        }
      },
      "DnsRecordUpdateRequest": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "A"
          },
          "name": {
            "type": "string",
            "example": "www"
          },
          "content": {
            "type": "string",
            "example": "192.0.2.2"
          },
          "ttl": {
            "type": "integer",
            "example": 7200
          },
          "comment": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          }
        }
      },
      "DnsRecordResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "DNS record created successfully"
          },
          "data": {
            "$ref": "#/components/schemas/DnsRecord"
          }
        }
      },
      "NameserversResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "nameservers": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": ["ns1.atom.com", "ns2.atom.com"]
              },
              "type": {
                "type": "string",
                "enum": ["atom", "parking", "custom"],
                "example": "atom"
              }
            }
          }
        }
      },
      "NameserversUpdateRequest": {
        "type": "object",
        "required": ["type"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["atom", "parking", "custom"],
            "example": "custom",
            "description": "Nameserver type: 'atom' uses Atom nameservers, 'parking' uses parking nameservers, 'custom' requires nameservers array"
          },
          "nameservers": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Required if type is 'custom'. Array of nameserver hostnames.",
            "example": ["ns1.example.com", "ns2.example.com"]
          }
        }
      },
      "PrivacyUpdateRequest": {
        "type": "object",
        "required": ["enabled"],
        "properties": {
          "enabled": {
            "type": "boolean",
            "example": true,
            "description": "Enable or disable WHOIS privacy protection"
          }
        }
      },
      "PrivacyResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Privacy protection updated successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "privacy_protect": {
                "type": "boolean",
                "example": true
              }
            }
          }
        }
      },
      "PrivacyVerificationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Please verify your contact info via email to complete privacy protection update"
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "privacy_protect": {
                "type": "boolean"
              },
              "verification_required": {
                "type": "boolean",
                "example": true
              }
            }
          }
        }
      },
      "AutoRenewUpdateRequest": {
        "type": "object",
        "required": ["enabled"],
        "properties": {
          "enabled": {
            "type": "boolean",
            "example": true,
            "description": "Enable or disable automatic renewal"
          }
        }
      },
      "AutoRenewResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Auto-renewal updated successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "auto_renew": {
                "type": "boolean",
                "example": true
              }
            }
          }
        }
      },
      "UrlForwardsListResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "forwards": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/UrlForward"
                }
              }
            }
          }
        }
      },
      "UrlForward": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "example": 456
          },
          "source": {
            "type": "string",
            "example": "www"
          },
          "destination": {
            "type": "string",
            "example": "https://www.example.com"
          },
          "type": {
            "type": "string",
            "enum": ["permanent", "temporary"],
            "example": "permanent"
          }
        }
      },
      "UrlForwardCreateRequest": {
        "type": "object",
        "required": ["destination"],
        "properties": {
          "source": {
            "type": "string",
            "description": "Source subdomain (empty for root domain)",
            "example": "www"
          },
          "destination": {
            "type": "string",
            "example": "https://www.example.com",
            "description": "Full destination URL"
          },
          "type": {
            "type": "string",
            "enum": ["permanent", "temporary"],
            "default": "temporary",
            "example": "permanent",
            "description": "Redirect type: 'permanent' (301) or 'temporary' (302)"
          }
        }
      },
      "UrlForwardResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "URL forward created successfully"
          },
          "data": {
            "$ref": "#/components/schemas/UrlForward"
          }
        }
      },
      "DnsRecordsFilterResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "filters": {
                "type": "object",
                "properties": {
                  "subdomain": {
                    "type": "string",
                    "nullable": true,
                    "example": "www"
                  },
                  "type": {
                    "type": "string",
                    "nullable": true,
                    "example": "A"
                  }
                }
              },
              "records": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnsRecord"
                }
              }
            }
          }
        }
      },
      "DnsBulkUpdateRequest": {
        "type": "object",
        "required": ["type", "content"],
        "properties": {
          "subdomain": {
            "type": "string",
            "description": "Subdomain to update (use '@' for root domain, omit to update all subdomains)",
            "example": "www"
          },
          "type": {
            "type": "string",
            "example": "A",
            "description": "DNS record type to update"
          },
          "content": {
            "type": "string",
            "example": "192.0.2.100",
            "description": "New content value for all matching records"
          },
          "ttl": {
            "type": "integer",
            "example": 7200,
            "description": "Optional: new TTL value for all matching records"
          }
        }
      },
      "BulkOperationResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Updated 5 DNS record(s)"
          },
          "data": {
            "type": "object",
            "properties": {
              "updated_count": {
                "type": "integer",
                "example": 5,
                "description": "Number of records updated (for bulk-update)"
              },
              "deleted_count": {
                "type": "integer",
                "example": 3,
                "description": "Number of records deleted (for bulk-delete)"
              }
            }
          }
        }
      },
      "DnssecResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "dnssec_enabled": {
                "type": "boolean",
                "example": true
              },
              "records": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/DnssecRecord"
                }
              },
              "raw_records": {
                "type": "array",
                "description": "Raw DNSSEC records as stored"
              }
            }
          }
        }
      },
      "DnssecRecord": {
        "type": "object",
        "properties": {
          "key_tag": {
            "type": "string",
            "example": "40741"
          },
          "algorithm": {
            "type": "string",
            "example": "13"
          },
          "digest_type": {
            "type": "string",
            "example": "2"
          },
          "digest": {
            "type": "string",
            "example": "cd3a761d64ec93d9d1c11339b9b9a1a0339e1dc8384fd61180d9795311659d77"
          },
          "algorithm_name": {
            "type": "string",
            "example": "ECDSA Curve P-256 with SHA-256"
          },
          "digest_type_name": {
            "type": "string",
            "example": "SHA-256"
          }
        }
      },
      "DnssecToggleResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "DNSSEC enabled successfully"
          },
          "data": {
            "type": "object",
            "properties": {
              "domain_name": {
                "type": "string",
                "example": "example.com"
              },
              "dnssec_enabled": {
                "type": "boolean",
                "example": true
              }
            }
          }
        }
      },
      "ContactObject": {
        "type": "object",
        "properties": {
          "handle": {
            "type": "string",
            "description": "Unique registrar contact handle",
            "example": "ATOM-12345"
          },
          "type": {
            "type": "string",
            "enum": ["registrant_user", "contact_handle"],
            "description": "Whether this is the primary registrant contact or an additional handle",
            "example": "registrant_user"
          },
          "label": {
            "type": "string",
            "nullable": true,
            "description": "Optional human-readable label for the contact",
            "example": "My Business Contact"
          },
          "name": {
            "type": "string",
            "example": "Jane Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+1.2025551234"
          },
          "fax": {
            "type": "string",
            "nullable": true,
            "example": null
          },
          "organization": {
            "type": "string",
            "nullable": true,
            "example": "Acme Corp"
          },
          "address": {
            "type": "array",
            "items": { "type": "string" },
            "example": ["123 Main St", "Suite 400"]
          },
          "city": {
            "type": "string",
            "example": "Chicago"
          },
          "state": {
            "type": "string",
            "nullable": true,
            "example": "IL"
          },
          "zip": {
            "type": "string",
            "example": "60601"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code",
            "example": "US"
          },
          "disclosed_fields": {
            "type": "array",
            "items": { "type": "string" },
            "description": "WHOIS fields disclosed publicly",
            "example": ["name", "email"]
          },
          "verified": {
            "type": "boolean",
            "example": false
          }
        }
      },
      "ContactInput": {
        "type": "object",
        "required": ["email", "phone", "address", "city", "zip", "country"],
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name. Use either `name` or `first_name` + `last_name`.",
            "example": "Jane Doe"
          },
          "first_name": {
            "type": "string",
            "description": "First name (alternative to `name`)",
            "example": "Jane"
          },
          "last_name": {
            "type": "string",
            "description": "Last name (used with `first_name`)",
            "example": "Doe"
          },
          "email": {
            "type": "string",
            "format": "email",
            "example": "jane@example.com"
          },
          "phone": {
            "type": "string",
            "example": "+1.2025551234"
          },
          "fax": {
            "type": "string",
            "example": "+1.2025559999"
          },
          "organization": {
            "type": "string",
            "example": "Acme Corp"
          },
          "address": {
            "description": "Street address as a string or array of lines.",
            "oneOf": [
              { "type": "string", "example": "123 Main St" },
              { "type": "array", "items": { "type": "string" }, "example": ["123 Main St", "Suite 400"] }
            ]
          },
          "address_1": {
            "type": "string",
            "description": "Address line 1 (alternative to `address`)",
            "example": "123 Main St"
          },
          "address_2": {
            "type": "string",
            "description": "Address line 2 (used with `address_1`)",
            "example": "Suite 400"
          },
          "city": {
            "type": "string",
            "example": "Chicago"
          },
          "state": {
            "type": "string",
            "example": "IL"
          },
          "zip": {
            "type": "string",
            "example": "60601"
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 country code (uppercase)",
            "example": "US"
          },
          "label": {
            "type": "string",
            "description": "Optional unique label to identify this contact",
            "example": "My Business Contact"
          },
          "disclosed_fields": {
            "type": "array",
            "items": { "type": "string" },
            "description": "WHOIS fields to disclose publicly",
            "example": ["name", "email"]
          }
        }
      },
      "SuccessResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": true
          },
          "message": {
            "type": "string",
            "example": "Operation completed successfully"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string",
            "example": "Bad Request"
          },
          "message": {
            "type": "string",
            "example": "Invalid input provided"
          }
        }
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication failed - invalid or revoked API token",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "error": {
                  "type": "string",
                  "example": "Unauthorized"
                },
                "message": {
                  "type": "string",
                  "example": "Invalid registrar API token or access has been revoked. Please request registrar API access from your dashboard."
                }
              }
            }
          }
        }
      },
      "BadRequest": {
        "description": "Bad request - invalid parameters",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "Forbidden": {
        "description": "Forbidden - operation not allowed for this domain",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "InternalServerError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "Service temporarily unavailable",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          }
        }
      }
    }
  }
}
